{% extends 'base.html' %}

{% block content %}
    <div class="landmark-list">
    <h1>Landmarks</h1>

    <div class="completion-bar">
     <div class="completion-bar__completed" style="width: {{request.user.get_completion}}%%"></div> 
    </div> 
    {% if landmark_list %}
        <div class="landmark-list__container">
        {% for landmark in landmark_list %}
                <div 
                    class="landmark-list__card" 
                    onclick="window.location='{% url 'landmarks:detail' pk=landmark.pk %}'"
                    style="background: url({{landmark.image_url}}) center; background-size: cover;"
                    >
                    <div class="landmark-list__title">
                        {{landmark.name}}
                        <div class="landmark-list__button">Hunt</div>
                    </div>
                </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="success-message"> Congratulations! You have completed VCU Hunt! </div>
        <a href="{% url 'users:reset' %}">
            <button class="btn btn-primary btn-lg">Restart<button>
        </a>
    {% endif %}
    </div>
{% endblock content %}