{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class = "landmark">

        <image src = "{{landmark.image_url}}"></image>
        <div class="info">

            <div>
                <h1>{{landmark.name}}</h1>
                <h4>{{landmark.address}}</h4>
                <p>{{landmark.description}}</p>
                
                <button type="button" class="btn btn-primary btn-sm" onClick="openForm()">Complete</button>
                <button type="button" class="btn btn-primary btn-sm" onClick="toggleMap()">Hint!</button>
                <div id="quiz">
                    <form method="post" enctype="text/plain" id="quizform">
                        <!-- <P>1. The word which means "house" is:<BR> -->
                        <h3>{{landmark.question}} </h3> 
                        <p>
                        <input type="radio" name="Quiz Question" value="{{landmark.answer1}}" id="{{landmark.answer1}}">
                        <label for="{{landmark.answer1}}">{{landmark.answer1}}</label> <BR>
                        <input type="radio" name="Quiz Question" value="{{landmark.answer2}}" id="{{landmark.answer2}}">
                        <label for="{{landmark.answer2}}">{{landmark.answer2}}</label> <BR>
                        <input type="radio" name="Quiz Question" value="{{landmark.answer3}}" id="{{landmark.answer3}}">
                        <label for="{{landmark.answer3}}">{{landmark.answer3}}</label> <BR>
                        <input type="radio" name="Quiz Question" value="{{landmark.answer4}}" id="{{landmark.answer4}}">
                        <label for="{{landmark.answer4}}">{{landmark.answer4}}</label> <BR>

                        </p>
                    </form>
                    <button type="button" class="btn btn-success btn-sm" onClick="submitAnswer()">Submit</button>
                    <button type="button" class="btn btn-danger btn-sm" onClick="closeForm()">Cancel</button>
                </div>
            </div>
            <div class="map" id="map">
                <iframe
                    width="460"
                    height="345"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD5g-n2TE2_POT7yZTVeffHJ95Oz0osxvg
                    &q={{landmark.map_query}},Richmond+VA" allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>

    <div id="quizbackground"></div>

{% endblock content %}

{% block quizScript %}


<script>
    function toggleMap() {
        //document.getElementById("map").style.display = "none";

        if (document.getElementById("map").style.display == "none") {
            document.getElementById("map").style.display = "block";
        }
        else {
            document.getElementById("map").style.display = "none";
        }
    }

    function openForm() {
        document.getElementById("quiz").style.display = "block";
        document.getElementById("quizbackground").style.display = "block";
    }
    
    function closeForm() {
        document.getElementById("quiz").style.display = "none";
        document.getElementById("quizbackground").style.display = "none";
    }

    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function submitAnswer() {
        var radios = document.getElementsByName("Quiz Question");
        var i = 0, len = radios.length;
        var checked = false;
        var userAnswer;
        
        for( ; i < len; i++ ) {
            if(radios[i].checked) {
            checked = true;
            userAnswer = radios[i].value;
            }
        } 
        // if user click submit button without selecting any option, alert box should be say "please select choice answer".
        if(!checked) {
            if (!quiz.innerHTML.includes("Please")) {
                var para = document.createElement("p");
                var node = document.createTextNode("Please select an answer");
                para.style.cssText="font-size:15px; color: red;"
                para.appendChild(node);
                para.style.fonnt
                quiz.append(para);
            }
            return;
        }
        // Correct answer
        if(userAnswer === "{{landmark.c_answer}}") {
            quiz.innerHTML="Correct! Nice work. Redirecting...";
            await sleep(3000);
            window.location='{% url 'landmarks:list' %}';
            //mark as compelete here
        }
        // incorrect answer
        else {
            quiz.innerHTML="Incorrect. Look closely! Redirecting...";
            await sleep(3000);
            window.location='{% url 'landmarks:list' %}';
        }
        
    }

    $(document).mouseup(function(e) 
    {
        var container = $("#quiz");

        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0) 
        {
        closeForm();
        }
    });

</script>

{% endblock quizScript %}
